<app-header></app-header>
<main class="feed-container">
  <div class="header-section">
    <h1 class="title">
      {{
        showFavorites ? "Seus Pets Favoritos" : "Pets Disponíveis para Adoção"
      }}
    </h1>
    <p class="subtitle">
      {{
        showFavorites
          ? "Todos os pets que você favoritou"
          : "Encontre seu novo melhor amigo!"
      }}
    </p>
  </div>

  <!-- <section *ngIf="!showFavorites" class="filter-bar">
    <div class="filters-grid">
      <select [(ngModel)]="filters.petType">
        <option value="">Tipo de Animal</option>
        <option value="CACHORRO">Cão</option>
        <option value="GATO">Gato</option>
      </select>
      <select>
        <option>Porte</option>
        <option>Pequeno</option>
        <option>Médio</option>
        <option>Grande</option>
      </select>
      <select>
        <option>Idade</option>
        <option>Filhote</option>
        <option>Jovem</option>
        <option>Adulto</option>
      </select>
    </div>
  </section> -->
  <div
    class="pets-grid"
    *ngIf="{
      favIds: favoritePetIds$ | async,
      auth: isAuthenticated$ | async
    } as data"
  >
    @for (pet of pets; track pet.id) {
    <app-pet-card
      [pet]="pet"
      [isFavorited]="isPetFavorited(pet.id, data.favIds)"
      [isAuthenticated]="data.auth ?? false"
      (toggleFavorite)="onToggleFavorite($event)"
    >
    </app-pet-card>
    }

    <div *ngIf="pets.length === 0" class="empty-state">
      <div class="icon-wrapper">
        <mat-icon>favorite</mat-icon>
      </div>
      <h3>
        {{ showFavorites ? "Nenhum favorito ainda" : "Nenhum pet encontrado" }}
      </h3>
      <p>
        {{
          showFavorites
            ? "Explore os pets disponíveis e adicione seus favoritos!"
            : "Tente ajustar os filtros ou volte mais tarde."
        }}
      </p>
    </div>
  </div>
</main>
